<div class="layout-container">
  @if (isLoading$ | async) {
  <mat-progress-bar></mat-progress-bar>
  }@else {
  <div class="gallery">
    @for (collection of collections$ | async; track collection) {
    <mat-card class="gallery-item thumbnails" [routerLink]="['/collection', collection.id]">
      <img mat-card-image [src]="collection.cover_photo.urls.small" [alt]="collection.cover_photo.description" />
      <mat-card-content>
        <p class="title">{{ collection.title }}</p>
      </mat-card-content>
    </mat-card>
    }
  </div>
  }
</div>
