<div class="layout-container">
  @if (isLoading$ | async) {
  <mat-progress-bar></mat-progress-bar>
  }@else {
  <div class="gallery">
    @for (collection of collections$ | async; track collection) {
    <redsui-card
      classList="gallery-item thumbnails"
      [cardTitle]="collection.title"
      [imgSrc]="collection.cover_photo.urls.small"
      [imgDescription]="collection.cover_photo.description"
      (cardClick)="redirect(collection.id)"
    ></redsui-card>
    }
    <mat-paginator
      style="margin-top: 24px"
      (page)="navigate($event)"
      [length]="100"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex - 1"
      [pageSizeOptions]="[3, 6, 12, 30]"
      aria-label="Select page"
    ></mat-paginator>
  </div>
  }
</div>
