<div class="layout-container">
  <div *ngIf="isLoadingComputed(); else gallery">
    <mat-progress-bar></mat-progress-bar>
  </div>

  <ng-template #gallery>
    <div class="gallery" *ngIf="photos$ | async as photos">
      <ng-container *ngIf="photos.length > 0; else noPhotos">
        <div *ngFor="let photo of photos" style="margin-top: 10px">
          <redsui-card
            classList="gallery-item thumbnails"
            [imgSrc]="photo.urls.small"
            [imgDescription]="photo.alt_description"
            [haveLikes]="true"
            [likes]="photo.likes"
            (cardClick)="handleGotoPhoto(photo)"
          ></redsui-card>
        </div>
      </ng-container>
    </div>
    <ng-template #noPhotos>
      <span class="no-photos">{{ 'noPhotos' | translate }}</span>
    </ng-template>
  </ng-template>
</div>
